* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.con1 {
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.con2 {
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.box {
  height: 100px;
  width: 100px;
}

.box4 {
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: blueviolet;
}

.box2 {
  background-color: orangered;
}

.box3 {
  background-color: orange;
}

.box5 {
  background-color: yellow;
}

.box6 {
  background-color: rgb(79, 182, 79);
}

.box7 {
  background-color: lightgreen;
}
.subbox1 {
  position: absolute;
  background-color: yellow;
  z-index: 3;
}
.subbox2 {
  position: relative;
  left: 50px;
  background-color: orangered;
  z-index: 2;
}
.subbox3 {
  position: relative;
  top: -50px;
  background-color: lightgreen;
  z-index: 0;
}
.subbox4 {
  position: relative;
  left: 50px;
  top: -150px;
  background-color: dodgerblue;
  z-index: 1;
}
.subbox5 {
  background-color: blueviolet;
  top: -275px;
  left: 25px;
  position: relative;
  z-index: 5;
}
