* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 60%;
  width: 50%;
  font-size: 2em;
}

.box1 {
  background-color: beige;
  color: red;
}

.box2 {
  background-color: green;
  color: white;
}

.box3 {
  background-color: red;
  color: white;
}

.smallbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 0.5em;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.sbox1 {
  background-color: pink;
  color: red;
  font-size: 0.5em;
}

.sbox2 {
  background-color: blueviolet;
  color: white;
  font-size: 0.5em;
}

.sbox3 {
  background-color: orange;
  color: red;
  font-size: 0.5em;
}

.sbox4 {
  background-color: palevioletred;
  color: white;
  font-size: 0.5em;
}
