body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.left_manue{
    display: flex;
}
.lm{
    font-weight: bold;
    margin: 20px;
    color: gray;
}
.right_manue{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;

}
.rm{
    font-weight: bold;
    margin: 20px;
    color: black;
}
.a{
    margin-top: auto;
    width: 20px;
    display: flex;

}
.line{
    margin: 0;
}
.circle{
    width: 4px;
    height: 4px;
    margin: 2px;
    background-color: gray;
    border-radius: 50%;
}
.login{
    background-color: rgb(96, 96, 202);
    width: 120px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 5px;
    margin: 11px;
}
.logo{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -120%);
    padding: 30px;
}
.search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    width: 600px;
    border: 0.5px solid gray;
    height: 40px;
    border-radius: 20px;
}
.fa-camera{
    float:right;
    margin: 13px;
    margin-left: 5px;
    color: gray;
}
.fa-magnifying-glass{
    margin: 13px;
    color: gray;
}
.fa-keyboard{
    float: right;
    margin: 13px;
    color: gray;
}
.search_down{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
}
.sd{

    background-color: rgb(247, 247, 247);
    color: rgb(2, 0, 0);
    width: 130px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    margin-top: 40px;
    line-height: 40px;

}
.b{
    width: 180px;
}
.down_down{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 450%);
    display: flex;
    margin-top: 20px;

}
.English{
    color: blue;
    margin-left: 10px;
}
.down_bar{
    display: flex;
    background-color: rgb(190, 190, 190);
    position: absolute;
    height:50px;
    bottom: 0;
    width: 100vw;
    line-height: 50px;
}
.down_word{
    margin-left: 20px;
}
.contry{
    font-size: 20px;
    margin-left: 20px;
}
.rdm{
    display: flex;
    margin-left: 1390px;
}
.down_b{
    height: 50px;
    line-height: 50px;
    background-color: rgb(190, 190, 190);
    position: absolute;
    bottom: 50px;
    width: 100vw;
    border-bottom: 1px solid black;
}