@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  color: black;
  font-size: 100px;
}

.title-sub {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: grey;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar a {
  text-decoration: none;
}

.list-bg {
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}

.arrow {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -15px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.8;
  cursor: pointer;
  z-index: 100;
}

.one {
  position: absolute;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #286246;
  rotate: -45deg;
  top: 34px;
  left: 0;
}

.two {
  position: absolute;
  width: 74px;
  height: 10px;
  border-radius: 5px;
  background-color: #286246;
}

.three {
  position: absolute;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #286246;
  rotate: 45deg;
  bottom: 34px;
  left: 0;
}

.fab {
  width: 50px;
  height: 50px;
  background-color: #00a8ff;
  border-radius: 50px;
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 1;
}
.menubar {
  position: absolute;
  right: 17.5px;
  top: 330px;
  flex-direction: column-reverse;
  align-items: flex-end;
  display: none;
  z-index: -1;
}

.menu_top {
  background-color: #fffdef;
  width: 80px;
  height: 75px;
  border: 3.5px solid #286246;
  border-top: 0px solid #286246;
  display: flex;
  border-radius: 0% 0% 50% 50%;
  justify-content: center;
}

.menu_bottom {
  background-color: #fffdef;
  width: 130px;
  height: 225px;
  border: 3.5px solid #286246;
  border-radius: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menu_column {
  width: 105px;
  height: 50px;
  background-color: #286246;
  display: flex;
  margin-bottom: 18px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  font-size: 14px;
}

.menubar_line {
  height: 3.5px;
  width: 80px;
  background-color: #286246;
  position: relative;
  z-index: -1;
}

.menubar_menuline {
  left: 22px;
  position: absolute;
  bottom: 5px;
}

.menubar_menuline1 {
  height: 7px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #286246;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transform: rotate(-60deg);
  z-index: 1;
}

.menubar_menuline2 {
  height: 7px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #286246;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.menubar_menuline3 {
  height: 7px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #286246;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transform: rotate(60deg);
}

.list-bg {
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}

.p-20 {
  padding: 20px;
}
.form-20 input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
.form-20 button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}
