body{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container{
    box-shadow: 0px 0px 30px rgb(211, 211, 211);
    display: grid;
    grid-template-rows: repeat(3,200px);
    grid-template-columns: repeat(4,250px);
    grid-template-areas:
    "first_first first_second leftside_bar rightside_bar"
    "second_first second_second leftside_bar rightside_bar"       
    "second_first second_third leftside_bar rightside_bar ";
}
.first_first {
    grid-area: first_first;
    background-color: rgb(175, 32, 32);}
.first_second {
    grid-area: first_second;
    background-color: rgb(52, 124, 100);
    
}
.leftside_bar {
    grid-area: leftside_bar;
    background-color: rgb(252, 252, 252);
}
.rightside_bar{
    grid-area: rightside_bar;

}
.second_first {
    grid-area: second_first;
    background-color: rgb(87, 90, 89);
}
.second_second {
    grid-area: second_second;
    background-color: rgb(255, 255, 255);
}
.third_second {
    grid-area: second_third;
    background-color: rgb(111, 141, 131);
}
.container div:nth-child(n){
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.left{
    margin: 10px;
}
.right{
    margin: 10px;
}
.color{
    width: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
