body{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 2fr;
}
.right_container{
    border: 1px solid black;
}
.header{
    font-size: 5px;
}
.name{
    font-weight: bold;
    font-size: 25px;
    white-space: pre-line;
}
.box div:nth-child(n){
    border-bottom: 1px solid black;
    padding: 0px 0px 0px 10px;
}
.box div:nth-child(1){
    border-top: 1px solid black;
    background-color: aliceblue;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0px;
    font-size: 10px;
    white-space: pre-line;
}
.a{
    font-weight: bold;
    font-size: 12px;
}
.left_container{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 4fr 1fr;
}
.left div:nth-child(1){
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}
.left div:nth-child(2){
    margin: 10px;
    font-size: 35px;
    white-space: pre-line;

}
.left div:nth-child(3){
    margin: 10px;
    font-size: 15px;
    white-space: pre-line;

}
.foot{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.left_container div:nth-child(2){
    font-size: 15px;
    white-space: pre-line;

}
.foot div:nth-child(2){
    font-size: 30px;
    margin-left: 20px;
}
.foot div:nth-child(1){
    border-top: 1px solid black;
    padding: 20px;
}
.color_container{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 4fr 1fr;
}
.header{
    border-bottom: 1px solid black;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.a_header{
    border-right: 1px solid black;
    background-color: aquamarine;
}
.a_footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.b_header{
    background-color: beige;
    border-bottom: 1px solid black;
}
.b_footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.c_header{
    background-color: aqua;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.c_footer{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.d_header{
    background-color: blanchedalmond;
    border-right: 1px solid black;
}
.e_header{
    background-color: blueviolet;
    border-right: 1px solid black;
}