* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mid {
  border-radius: 5px;
  width: 300px;
  height: 160px;
  background-color: #9746ff;
}

.bottom {
  border-radius: 5px;
  width: 400px;
  height: 40px;
  background-color: #9746ff;
}

.left {
  display: flex;
  gap: 40px;
}
.right {
  display: flex;
  gap: 40px;
}

.box {
  background-color: #9746ff;
  width: 130px;
  height: 40px;
  border-radius: 5px;
}

.red {
  border-radius: 5px;
  background-color: #f24822;
  height: 70px;
  width: 130px;
}
