* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  position: relative;
}
.section {
  display: flex;
  gap: 40px;
}

.section2 {
  display: flex;
  gap: 40px;
}

.a {
  display: flex;
  width: 190px;
  height: 55px;
  border-radius: 5px;
  top: 40px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgb(164, 98, 226);
  border: 5px solid blueviolet;
}

.b1 {
  position: absolute;
  width: 190px;
  height: 55px;
  top: 30px;
  border-radius: 5px;
  z-index: 0;
  background-color: orangered;
  border: 5px solid rgb(180, 48, 0);
}

.maina {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  top: 300px;
  z-index: 1;
  background-color: rgb(164, 98, 226);
  border: 5px solid blueviolet;
}

.suba {
  position: relative;
  width: 800px;
  height: 75px;
  border-radius: 5px;
  top: 500px;
  z-index: 1;
  background-color: rgb(164, 98, 226);
  border: 5px solid blueviolet;
}
