* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #eff2f5;
}

img {
  width: 300px;
  height: 106px;
}

.mainback {
  padding-top: 72px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.subcon {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.main {
  margin-left: 30px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}

.loginback {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px;
  width: 396px;
  height: 350px;
  gap: 10px;
}

.box {
  display: flex;
  padding: 15px;
  color: #b3b8bd;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dddfe2;
  box-sizing: border-box;
}

.login {
  color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  background-color: #1b77f2;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

.rightsubcon {
  position: relative;
  top: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.findpwd {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
  color: #1877f2;
}

.newid {
  background-color: #42b72a;
  color: #fff;
  text-align: center;
  text-shadow: none;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  padding: 0px 16px 0px 16px;
  height: 50px;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.sub1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 14px 16px;
  text-align: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub2 {
  font-weight: bold;
  font-size: 14px;
}
