body {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.a1 {
  background-color: white;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d {
  background-color: white;
  width: 580px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.b1 {
  background-color: white;
  width: 170px;
  height: 70px;
}

.c1 {
  background-color: crimson;
  width: 170px;
  height: 75px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
}
.c2 {
  background-color: blueviolet;
  width: 170px;
  height: 50px;
  border-radius: 5px;
}

.b2 {
  background-color: blueviolet;
  width: 170px;
  height: 50px;
  border-radius: 5px;
}
.b3 {
  background-color: blueviolet;
  width: 170px;
  height: 50px;
  border-radius: 5px;
}

.a2 {
  background-color: white;
  width: 375px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.b4 {
  background-color: blueviolet;
  width: 170px;
  height: 50px;
  border-radius: 5px;
}

.b5 {
  background-color: blueviolet;
  width: 170px;
  height: 50px;
  border-radius: 5px;
}

.a3 {
  background-color: blueviolet;
  width: 450px;
  height: 220px;
  border-radius: 5px;
}

.a4 {
  background-color: blueviolet;
  width: 700px;
  height: 70px;
  border-radius: 5px;
}
