.box {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_box {
  height: 120px;
  width: 160px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 35px;
}
