* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 800px;
}

li {
  list-style: none;
}

.left {
  float: left;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-weight: bold;
}
.box {
  padding: 10px;
}

.side {
  word-spacing: 12px;
}

.left .box:first-child {
  background-color: black;
}
.left .box:first-child li {
  background-color: black;
  color: white;
}

.left .box:nth-child(2) {
  background-color: blueviolet;
}

.left .box:nth-child(3) {
  background-color: red;
  grid-row-start: 2;
  grid-row-end: 4;
}

.left .box:nth-child(4) {
  background-color: white;
}
.left .box:nth-child(5) {
  background-color: yellow;
}

.right {
  float: right;
  width: 50%;
  height: 100%;
  padding: 10px;
  font-weight: bold;
}

.ein {
  float: left;
  width: 50%;
  height: 100%;
}

.zwei {
  float: right;
  width: 50%;
  height: 100%;
}

.ein div:first-child,
.zwei div:first-child {
  font-size: 10px;
  margin-bottom: 10px;
}

.textbox {
  font-size: 12px;
  position: relative;
}
