* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page {
  height: 500px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4), -20px -20px 50px floralwhite;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.box_1 {
  background-color: beige;
  color: orangered;
}

.box_2 {
  background-color: forestgreen;
  color: white;
}

.box_3 {
  background-color: orangered;
  color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.box_1,
.box_2,
.box_3 {
  font-size: 40px;
  font-weight: 700;
}

.box_4-1,
.box_4-2,
.box_4-3,
.box_4-4 {
  font-size: 20px;
  font-weight: 700;
  height: 100%;
}

.box_4-1 {
  background-color: lightpink;
  color: orangered;
}

.box_4-2 {
  background-color: mediumpurple;
  color: white;
}

.box_4-3 {
  background-color: orange;
  color: orangered;
}

.box_4-4 {
  background-color: salmon;
  color: white;
}
