body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: white;
  width: 500px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.first,
.third {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
}

.first {
  border-radius: 50%;
}
